<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShopInfo</title>
    <!--JQuery文件务必在Bootstrap之前引入-->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body{
            margin-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">添加一种食物</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.loginUser}"></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/admin/logout/' + ${session.loginUser}}">退出</a></li>
                    <li th:if="${session.loginUser} ne 'admin'"><a th:href="@{'/record/getByCustomerName/' + ${session.loginUser}}">历史订单</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.container -->
</nav><!-- /.navbar -->
<div class="panel" th:bgcolor="orange">
    <div class="panel-body">
        <form method="post" th:action="@{/shop/addOneFood}">
            <h2 class="col-md-4 col-md-offset-4">添加食品信息</h2>

            <!--要在页面加载完成后显示出来-->
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="foodName">选择食品</label>
                <select id="foodName" name="foodName" class="form-control">
                    <option>请选择</option>
                </select>
            </div>

            <div class="form-group  col-md-4 col-md-offset-4">
                <button type="sumbit" class="btn btn-primary btn-block btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $.ajax({
            type:"get",
            dataType:"json",
            url:"/food/getAllFoodNames",
            success:function (nameList) {
                var unitObj = document.getElementById("foodName");
                if(nameList != null){
                    for(var i = 0; i < nameList.length; i++){
                        unitObj.options.add(new Option(nameList[i]));
                    }
                }
            },
            error:function(nameList){
                var unitObj = document.getElementById("foodName");
                if(nameList != null){
                    for(var i = 0; i < nameList.length; i++){
                        unitObj.options.add(new Option(nameList[i]));
                    }
                }
            }
        })
    })
</script>
</body>
</html>