<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.edu.databasecoursedesignfoods.mapper.RecordMapper">
    <resultMap id="recordMap" type="com.hfut.edu.databasecoursedesignfoods.domain.RecordSimple">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="shop_id" property="shopId"/>
        <result column="time" property="time"/>
        <result column="money" property="money"/>
        <result column="orders" property="order"/>
        <result column="shop_name" property="shopName"/>
    </resultMap>

    <sql id="baseColumns">
        id, customer_id, shop_id, `time`, money, orders
    </sql>

    <!--public List<RecordWhole> getByCustomerName(String name);-->
    <select id="getByCustomerName" resultMap="recordMap">
        select r.id, c.id, s.shop_name, `time`, money, orders
        from tbl_records r, tbl_shop s, tbl_customer c
        where c.customer_name = #{name} and c.id = r.customer_id and r.shop_id = s.id;
    </select>

    <!--    public List<RecordSimple> getByCustomerId(Integer id);-->
    <select id="getByCustomerId" resultMap="recordMap">
        select <include refid="baseColumns"/>
        from  tbl_records
        where customer_id=#{id};
    </select>

    <!--public List<RecordSimple> getByShopId(Integer id);-->
    <select id="getByShopId" resultMap="recordMap">
        select <include refid="baseColumns"/>
        from tbl_records
        where shop_id=#{id};
    </select>
    
    <!--public boolean insertOneRecord(RecordSimple simple);-->
    <insert id="insertOneRecord"
            parameterType="com.hfut.edu.databasecoursedesignfoods.domain.RecordSimple"
    useGeneratedKeys="true" keyProperty="id">
        insert into tbl_records(customer_id, shop_id, `time`, money, orders)
        values (#{customerId}, #{shopId}, #{time}, #{money}, #{order})
    </insert>

    <!--public RecordSimple getById(Integer id);-->
    <select id="getById" resultMap="recordMap">
        select r.id, customer_id, shop_id, s.shop_name, `time`, money, orders
        from tbl_records r, tbl_shop s
        where r.id=#{id} and r.shop_id=s.id;
    </select>
</mapper>



























